    #index{
    background-color: #140A25;
    color: white;

}
.container{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-top: 50px;
    background-color: #8F1D2C;
    padding: 70px;
    border:1px solid white;
}
.header{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    background-color: #8F1D2C;
    padding: 5px;
    border: 1px solid white;
    
}
.header:hover{
    border-radius: 150px;
    transition: 2000ms;
}
.header:active{
   color: thistle;
}
.header:hover::after{
    transition: 2000ms;
}
.standup{
    background-color: #140A25;
    width: 400px;
    float: left;
    padding: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    
}
.lightningtalk{
    background-color: #140A25;
    width: 400px;
    margin-left: 580px;
    padding: 20px;
    border-right:2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    margin-left: 30px;
    padding: 5px;
}
a:active{
    color: #8F1D2C;
}

a:hover{
    color: #8F1D2C;
    transition: 350ms;
}

.header a:hover{
    color: #101C28;
}
.links{
    margin-left: 600px;
    position: relative;
    bottom: 75px;
  
}

h1{
    padding-left: 70px;
}
h2{
    padding-left: 70px;
}

#two{
    style: width:100px;height:100px;
    position: fixed;
    top: 200px;
    opacity: .5;
}
#three{
    style: width:200px;height:200px;
    position: relative;
    right: 340px;
    top: 250px;
    -webkit-filter: invert(400%); 
  filter : invert(400%);
}
#four{
    style: width:200px;height:200px;
    position: relative;
    left: 20px;
    top: -45px;
    -webkit-filter: invert(400%); 
  filter: invert(400%);
}

#lightning{
    color: white;
    background-color: #8F1D2C;
}
.containerl{
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 200px;
    margin-top: 50px;
    background-color: #140A25;
}

.header2{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    background-color: #140A25;
    padding: 5px;
    border: 1px solid white;
}
.header2:hover{
    border-radius: 150px;
    transition: 2000ms;
}

.week2{
    border: 1px solid white;
    width: 250px;
    float: left;
    background-color: #101C28;
    height: 485px;
    padding: 20px;
    margin-left: 25px;
}
.week2:hover{
    transform: scale(1.04);
    transition: 500ms;
    background-color: #8F1D2C;
    background-image: url(/home/mbugua/Documents/class/images/seven.svg);
    background-repeat: no-repeat;
    font-size: 25px;
}

.week3{
    border: 1px solid white;
    width: 250px;
    float: left;
    background-color: #222F3F;
    padding: 20px;
}
.week3:hover{
    transform: scale(1.04);
    transition: 500ms;
    background-color: #8F1D2C;
    background-image: url(/home/mbugua/Documents/class/images/six.svg);
    background-repeat: repeat;
    font-size: 25px;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}
.week4{
    border: 1px solid white;
    width: 250px;
    float: left;
    background-color: #222F3F;
    padding: 20px;
}
.week4:hover{
    transform: scale(1.04);
    transition: 500ms;
    background-color: #8F1D2C;
    background-image: url(/home/mbugua/Documents/class/images/two.svg);
    background-repeat: repeat;
    font-size: 25px;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    
}
.week5{
    border: 1px solid white;
    width: 250px;
    float: left;
    background-color: #101C28;
    padding: 20px;
}
.week5:hover{
    transform: scale(1.04);
    transition: 500ms;
    background-color: #8F1D2C;
    background-image: url(/home/mbugua/Documents/class/images/ten.svg);
    background-repeat: repeat;
    font-size: 25px;
    -webkit-filter: grayscale(70%); 
    filter : grayscale(70%);
   
}


#standup{
    color: white;
    background-color: #8F1D2C;
}
.containers{
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 200px;
    margin-top: 50px;
    border: 2px solid white;
}
.header3{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    background-color: #140A25;
    padding: 5px;
    border: 1px solid white;
}
.header3:hover{
    border-radius: 150px;
    transition: 2000ms;
}

#week2{
    border: 1px solid white;
    width: 250px;
    float: left;
    margin-left: 20px;
    height: 499px; 
    padding: 20px;
    background-color: #233D57;
}
#week2:hover{
    transform: scale(1.04);
    transition: 500ms;
    background-color: #8F1D2C;
    background-image: url(/home/mbugua/Documents/class/images/ten.svg);
    background-repeat: repeat;
    font-size: 25px;
    -webkit-filter: grayscale(70%); 
    filter : grayscale(70%);
}
#week3{
    border: 1px solid white;
    width: 250px;
    float: left;
    padding: 20px;
    background-color: #9DB1C2;  
}
#week4{
    border: 1px solid white;
    width: 250px;
    float: left;
    padding: 20px;
    background-color: #9DB1C2;
}
#week5{
    border: 1px solid white;
    width: 250px;
    float: left;
    padding: 20px;
    background-color: #233D57;
}
ul{
    list-style: none;
}


@media screen and (min-width: 480px) and (max-width: 760px) {
#index{
    
}
.header{
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
 }
 .header:hover{
    border-radius: 0px;
    transition: 0ms;
}
body{
    width: auto;
}
.container{
    width: 100%;
    margin-left: 0px;
    padding: 0px;
}
.standup{
    margin-left: 0px;
    float: none;
    width: auto;
    margin-bottom: 30%;
    border-bottom: 2px solid white;
}
.lightningtalk{
    margin-left: 0px;
    float: none;
    width: auto;    
    border-top: 2px solid white;
}
#three{
    width: 0%;
    height: 0%;
    
}
#four{
    width: 0%;
    height: 0%;

}
a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    margin: auto;
    padding: 0px;
    
}
.links{
    margin:auto;
    margin-top: 20%;
    margin left: 10%;
    padding-left: 13%;
}